{% include "header.html" %}
<!DOCTYPE HTML>
<html>

<head>
  <title>Vehicle Tracking Station</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
    <br>
    <br>
    <div class="container bg-light">  
      <div id="site_content">
        <div class="sidebar">
          <div id="content">
            <!-- insert the page content here -->
            <h1><strong>About Us</strong></h1>
            <p>Design Project: Vehicle Tracking Station-VTS</p>
            <p>Name: Neel Shah & Vijul Patel</p>
            <p>Enrollment Number: 170010116050(Neel) 170010116040(Vijul)</p>
            <p>Guided By: Prof. Jayendranath Mangrolia.</p>
            <p>Contact Number: 9033217044(Neel) 9586777937(Vijul)</p>
            <p>Contact Mail: shahneel1562@gmail.com(Neel) vijulpatel865@gmail.com(Vijul)</p>
            <br><br><br><br>
          </div>
        </div>  
      </div>    
    </div>
    <br><br><br><br><br>
  {% include "footer.html" %}
  </body>
</html>