<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md text-light bg-dark" style="margin-bottom: 0px;">
        <div id="logo_colour">
            <h1><a class="navbar-brand" href="/home"><span class="logo_colour">Vehicle Tracking Station-VTS</span></a></h1>
        </div>
    </nav>
    <nav class="navbar navbar-expand-md text-light bg-dark">
        <div class="navbar-nav">      
            <button class="btn"><a href="/home" class="nav-item nav-link active">Home</a></button>
            <button class="btn"><a href="/registration" class="nav-item nav-link">Register</a></button>
            <button class="btn"><a href="/about" class="nav-item nav-link">About</a></button>
            <button class="btn"><a href="/contact" class="nav-item nav-link">Contact</a></button>
        </div>
    </nav>
</body>
</html>                            